.App {
  text-align: center;
  height: 47em;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  position: relative;
  height: 4em;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  font-size: calc(10px + 1.3vmin);
  color: white;
}
.header-css-help {
  display: inline;
  width: 100%;
}



#header-title {
  float: left;
  margin-left: 0.5em;
}

#header-reg {
  float: right;
  margin-top: 2em;
  height: 5em;
  margin-right: 1em;
  
}

/* login csss */

.login-wrapper {
  text-align: center;
}
.login-div {
  background-color: aquamarine;
  display: inline-block;
  width: 30em;
  margin-top: 1em;
  height: 13em;
  border-radius: 1em;
}

.button {
    border-style: solid;
    border-width: 1px;
    background-color: black;
    height: 1em;
    width: 19em;
    padding: 3px;
}

.css-helper {
  margin: 0;
  background-color: transparent;
  text-align: center;
}
.input-header {
  color: azure;
  font-size: 20px
}

.password-form {
  margin-bottom: 1em;
}

/* modal stylez */

.reg-input {
  width: 85%;
  margin: 0.5em;
}

#top {
  margin-top: 1em;
}

.modal-head-wrap {
  display: inline
}
.modal-title{
  float: left;
}
.close {
  float: right;
}

.modal-form {
  margin-top: 5em;
  margin-left: 2em;
}

#reg-submit{
float: left;
margin-top: 1em;
text-align: center;
padding: 9px;
width: 9em;
height: 1em;
}


.reg-range {
width: 50%;
margin-left: 1em;
}
/* review stylez */
.review-body {
  width: 85%;
  height: 15em;
  margin-left: 0.5em;

}
.ranger {
  text-align: left
}
#rev-submit{
  float: left;
  margin-top: 1em;
  text-align: center;
  padding: 9px;
  width: 9em;
  height: 1em;
}

/* map component */
.map-wrapper{
 width: 50%;
 text-align: center;
}
.map-div {
  display: inline-block;

}


